.OperatorReports {
  margin: 0;
  padding: 20px;
}

.OperatorReports .container {
  background-color: #CEE7E6;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border-radius: 20px;
}

.OperatorReports .container table {
  justify-items: center;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.OperatorReports .container table th {
  font-size: 20px;
  color: orange;
  border-bottom: 1px solid white;
}

.OperatorReports .container table td {
  font-size: 20px;
  color: #255783;
  border-bottom: 1px solid white;
}

.OperatorReports .container .btn {
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #255783;
  color: white;
  font-weight: 700;
  border-radius: 50%;
}
