@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Limelight&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font: "Be Vietnam Pro", sans-serif;
  --font1: "Limelight", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.4;
  background-color: #FDFDFD;
}

a {
  text-decoration: none;
}

.OperatorReports .OperatorReports-header {
  background-color: #CEE7E6;
}

.OperatorReports .OperatorReports-name {
  padding: 20px 40px 20px 40px;
  font-family: var(--font);
  font-size: 48px;
  font-weight: 700;
}

.OperatorReports .OperatorReports-content {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #E5A13D;
  background-color: #CEE7E6;
  border-radius: 20px 20px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.OperatorReports .OperatorReports-content .OperatorReports-content-table{
  width: 100%;
  display: flex;
  justify-content: center;
}
.OperatorReports-content-table table {
  width: 100%;
  border-collapse: collapse;
}

.OperatorReports-content-table table thead th {
  width: 12%;/* Distributes column widths evenly */
  text-align: center;     /* Optional: aligns text */
  padding: 10px;        /* Optional: adds padding */
  color: #E5A13D;
  font-family: var(--font);
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #ffffff;
}

.OperatorReports-content-table table tbody td {
  padding: 10px; /* Optional: adds padding */
  border-bottom: 1px solid;
  color: #255783;
  font-family: var(--font);
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid #ffffff;
}
.pagination-controls{
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 10px;
}
.pagination-controls button{
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #F5F5F5;
  color: #255783;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}
.pagination-controls button:hover{
  background-color: #255783;
  color: #ffffff;
}
.pagination-controls .pagination-button.active {
  background-color: #255783; /* Màu nền cho trang đang được chọn */
  color: #ffffff;           /* Màu chữ */
  font-weight: bold;        /* Tô đậm chữ */
  border: 1px solid #255783; /* Đường viền */
}