@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Limelight&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font:"Be Vietnam Pro", sans-serif;
    --font1:"Limelight", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.4;
    background-color: #FDFDFD;
    padding: 0;
  }
  a {
    text-decoration: none;
  }

  .tourresultop .tourresltop-header{
    background-color: #CEE7E6;
  }
  .tourresultop h1{
    font-weight: 700;
    font-family: var(--font);
    padding: 20px 40px 20px 40px;
    font-size: 48px;

  }
.tourresultop .tourBars{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    padding: 30px 60px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #E5A13D;
    background-color: #CEE7E6;
    border-radius: 20px 20px 10px 10px;
    justify-content: center;
    text-align: center;
}
.tourresultop .pagination-controls{
  padding: 20px;
  border-radius: 20px;
}