body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mostsearched{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.tag{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.policy{
    width: 100%;
    display: flex;
    justify-content: center;
}