@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Limelight&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font: "Be Vietnam Pro", sans-serif;
    --font1: "Limelight", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.4;
    background-color: #FDFDFD;
}

a {
    text-decoration: none;
}
.tour-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #667479;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff;
}
.tour-bar .tour-bar-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font);
    color: #00171F;
}
.tour-bar .tour-bar-content .tour-bar-contentTime{
    display: flex;
    justify-content: space-between;
    color: #667479;
    font-size: 20px;
    font-weight: 500;
}
.tour-bar .tour-bar-content .tour-bar-contentTime .tour-bar-contentStartDate{
    width: 50%;
    display: flex;
    gap: 10px;
}
.tour-bar .tour-bar-content .tour-bar-contentTime .tour-bar-contentEndDate{
    width: 50%;
    display: flex;
    gap: 10px;
}
.tour-bar .tour-bar-content .tour-bar-contentLocation{
    color: #667479;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    gap: 10px;
}

.tour-bar .tour-bar-content .tour-bar-contentLanguages{
    color: #667479;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    gap: 10px
}
.tour-bar .tour-bar-foot{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.tour-bar .tour-bar-foot .tour-bar-footStatus{
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    color: #E5A13D;
}
.tour-bar .tour-bar-foot .tour-bar-foot__btn{
    display: flex;
    gap: 10px;
}
.tour-bar .tour-bar-foot button{
    background-color: transparent;
    border: 0;
    height: auto;
    width: auto;
    padding: 0;

}
.tour-bar .tour-bar-foot .deleteTour 
{
    color: #E9456F;
    font-size: 30px;
}
.tour-bar .tour-bar-foot .modifyTour{
    color: #002A48;
    font-size: 30px;
}
.tour-bar .confirmRemove {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 1px solid #E5A13D;
    padding: 10px;
}
.tour-bar .confirmRemove .confirmRemove-content{
    font-family: var(--font);
    font-weight: 700;
    font-size: 24px;
}
.tour-bar .confirmRemove .confirmRemove-btns{
    width: auto;
    display: flex;
    gap: 10px;
}
.tour-bar .confirmRemove .confirmRemove-btns .confirmRemove-confirm{
    width: auto;
    padding: 12px 28px 12px 28px ;
    border-radius: 57px;
    background-color: #1488DB;
}
.tour-bar .confirmRemove .confirmRemove-btns .confirmRemove-cancel{
    width: auto;
    padding: 12px 28px 12px 28px ;
    border-radius: 57px;
    background-color: #E9456F;
}