/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Limelight&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font:"Be Vietnam Pro", sans-serif;
    --font1:"Limelight", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.4;
    background-color: #FDFDFD;
    padding: 0;
  }
  a {
    text-decoration: none;
  }


.container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
/* Main Content */
.container .main-content {
  height: auto;
  background: #CEE7E6;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .main-content .main-content-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 500;
  align-items: center;
  border-bottom: 1px solid #667479;
}
.container .main-content .main-content-header button{
  background-color: transparent;
  border: 0;
  font-size: 32px;
  font-family: var(--font);
  font-weight: 500;
  color: #1E3050;
}

.container .main-content .booking-details .info{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container .main-content .booking-details .info .info-content{
 color: #E5A13D;
 font-size: 24px;
 font-weight: 700;
 font-family: var(--font);
 width: 20%;
}
.container .main-content .booking-details .info .info-main{
  width: 100%;
  color: #667479;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 500;
}
.container .main-content .booking-details .info .info-name{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #667479;
}
.container .main-content .booking-details .info .info-tour{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #667479;
}
.container .main-content .booking-details .info .info-status{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #667479;
}
.container .main-content .booking-details .info .info-date{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #667479;
}
.container .main-content .booking-details .info .info-price{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #667479;
}
.container .main-content .booking-details .info .info-payment{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #667479;
}
.container .main-content .booking-details .info .info-refund{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #667479;
}
.info-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info-footer-evidence{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.info-footer-evidence button{
  width: auto;
  height: auto;
  padding: 12px 28px 12px 28px;
  border-radius: 57px;
}
.info-footer-evidence .Approved{
  background-color: #1488DB;
}
.info-footer-evidence .Disapproved{
  background-color:#E9456F;
}